.Weather {
  color:#f7d1ba;
  padding: 15px;
}

.Weather .row {
justify-content: space-evenly;
flex-wrap:nowrap;
padding: 10px;
margin: 10px;
font-family: 'IM Fell Great Primer', serif;
}

.topButtons {
  text-align:center;
}

.btn {
  color:#d49a89;
  font-family: 'IM Fell Great Primer', serif;
  font-size:20px;
}

.Weather ul {
  margin: 0;
  padding:0;
}
.Weather li {
  font-size: 17px;
list-style:none;
font-family: 'IM Fell Great Primer', serif;
}